.profile {
    margin-top: 20px;
}

.profile-item {
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px;
}

.cart {
    background-color: #FFB573;
}

.active_courses {
    background-color: #6D89D5;
}

.course-in-profile{
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 20px;

}

.course-in-cart {
    background-color: #89DEE6;
}


.buy-button {
	border-color: #6D89D5;
    color: white;
    background-color: #6D89D5;
}

.buy-button:hover {
    background-color: #A2E0E6;
}

.course-in-active {
    background-color: #FFD273;
}

.course-in-profile>h4>a{
    color: black;
    text-decoration: none;
}

.active-course-in-profile>h4>a:hover{
    color: #6B2462;
}

.course-in-cart_item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.password_form {
    background-color: #5EC4CD;
}

.form-control {
    margin-bottom: 20px;
    height: 40px;
}

.profile-item-title {
    margin-bottom: 20px;
}

.change-button {
	border-color: #FF7800;
    color: #A66225;
    background-color: #FFD6B2;
}

.change-button:hover {
    background-color: #FFB573;
    border-color: #FF7800;
}
