.python-logo {
	padding: 5px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #236850;
	border-radius: 10px;
	display: inline-block;
	width: 100px;
	margin-right: 50px;
}

.description-text {
	display: inline-block;
	width: 70%;
}

.description-price {
	display: inline-block;
	width: 70%;
}


.description-btn {
	border-color: #236850;
    color: #236850;
	width: 150px;
	height: 50px;
	margin: 10px;
}

.description-btn:hover {
    background-color:rgb(169, 209, 142);
    border-color: rgb(169, 209, 142);
}