{% extends "base.html" %}

{% block title %}Курсы{% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/courses_style.css') }}">
{% endblock %}

{% block content %}
<div class="main_body">
    <h2 class="title">Курсы:</h2>

    <div class="courses-items">

        {% for course in courses%}
        <div class="courses-item-card">
            <a href="course/{{course.link}}">
                <img class="courses-item-card-img"
                     src="{{ url_for('static', filename='img/' + course.logo_file_name) }}"
                     alt="logo ">
            </a>
            <br>
            <h3 class="courses-item-card-name">{{course.name}}</h3>
            <h3 class="courses-item-card-price">{{course.price}}p.</h3>
            <p class="courses-item-card-description">{{course.description}}</p>

            <a href="course/{{course.link}}">
                <button class="btn btn-outline-success card-btn">Подробнее</button>
            </a>
        </div>

        {% endfor %}


    </div>
</div>
{% endblock %}
