{% extends "base.html" %}

{% block title %}Профиль{% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile_style.css') }}">
{% endblock %}

{% block content %}
<div class="main_body">
    <div class="profile">
        <h2>Профиль {{user.login}}</h2>
        <form method="post" class="password_form">
            <h3 class="change-password-title"> Сменить пароль </h3>
            <input type="password" class="form-control" name="old_password"
                   placeholder="Старый пароль">
            <input type="password" class="form-control" name="new_password"
                   placeholder="Новый пароль" style="margin-top: 10px;">
            <input type="submit" class="btn btn-outline-primary change-button" value="Сменить"
            >
        </form>
    </div>
</div>
{% endblock %}
