{% extends "base.html" %}

{% block title %}Профиль{% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile_style.css') }}">
{% endblock %}

{% block content %}
<div class="main_body">
    <div class="profile">
        <h2>Профиль {{user.login}}</h2>

        <div class="profile-item active_courses">
            <h3 class="change-password-title"> Изучаемые курсы: </h3>

            {% for course in active_courses%}
            <div class="active-course-in-profile">
                <h4><a href="course/{{course.link}}">{{course.name}}</a></h4>
                <p class="courses-item-card-description">{{course.description}}</p>
            </div>
            {% endfor %}
        </div>

        <form method="post" class="profile-item password_form">
            <h3 class="change-password-title"> Сменить пароль </h3>
            <input type="password" class="form-control" name="old_password"
                   placeholder="Старый пароль">
            <input type="password" class="form-control" name="new_password"
                   placeholder="Новый пароль" style="margin-top: 10px;">
            <input type="submit" class="btn btn-outline-primary change-button" value="Сменить"
            >
        </form>


    </div>
</div>
{% endblock %}
