{% extends "base.html" %}

{% block title %}Отзывы{% endblock %}

{% block content %}
<div class="main_body">
    <h1>Отзывы:</h1>
    <form action="#">
        Ваше имя: <input type="text" name="name" placeholder="Иван"> <br>
        Почта для обратной связи: <input type="email" name="email" placeholder="example@gmail.com"> <br>
        Текст отзыва: <br>
        <textarea name="review" id="" cols="68" rows="10"></textarea>
        <br>
        <input type="submit" value="Сохранить">
        <input type="reset" value="Очистить">
    </form>
</div>
{% endblock %}
