{% extends "base.html" %}

{% block title %}Главная{% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="main_body">
    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo ">

    <h1>Курсы по программированию, новости из мира IT и многое другое!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maiores dolorum dolores suscipit eveniet
        assumenda totam accusamus voluptatem esse! Autem eveniet magni provident ipsam repellendus eius rem
        labore
        inventore sed.
        Recusandae voluptates quod quam dolorem fugiat voluptatum voluptatibus veritatis nesciunt iste sit odio,
        autem
        iusto dicta explicabo. Adipisci aspernatur ipsam quaerat modi consectetur asperiores omnis, saepe
        excepturi
        tenetur magni illum.
        Ducimus, consequatur, ex quia eligendi rerum in dolorem, corrupti doloremque sit eum suscipit ab. Illum
        alias ea
        laborum perspiciatis labore assumenda distinctio voluptates officia, dolore esse. Nulla provident
        tenetur
        libero!
        Possimus numquam, dolorum sunt illo facere dignissimos vel eligendi corporis nemo laborum nobis illum,
        error
        quibusdam optio sequi consequatur expedita fuga recusandae corrupti doloribus voluptas. Cupiditate ut ad
        odit
        quo?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maiores dolorum dolores suscipit eveniet
        assumenda totam accusamus voluptatem esse! Autem eveniet magni provident ipsam repellendus eius rem
        labore
        inventore sed.
        Recusandae voluptates quod quam dolorem fugiat voluptatum voluptatibus veritatis nesciunt iste sit odio,
        autem
        iusto dicta explicabo. Adipisci aspernatur ipsam quaerat modi consectetur asperiores omnis, saepe
        excepturi
        tenetur magni illum.
        Ducimus, consequatur, ex quia eligendi rerum in dolorem, corrupti doloremque sit eum suscipit ab. Illum
        alias ea
        laborum perspiciatis labore assumenda distinctio voluptates officia, dolore esse. Nulla provident
        tenetur
        libero!
        Possimus numquam, dolorum sunt illo facere dignissimos vel eligendi corporis nemo laborum nobis illum,
        error
        quibusdam optio sequi consequatur expedita fuga recusandae corrupti doloribus voluptas. Cupiditate ut ad
        odit
        quo?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maiores dolorum dolores suscipit eveniet
        assumenda totam accusamus voluptatem esse! Autem eveniet magni provident ipsam repellendus eius rem
        labore
        inventore sed.
        Recusandae voluptates quod quam dolorem fugiat voluptatum voluptatibus veritatis nesciunt iste sit odio,
        autem
        iusto dicta explicabo. Adipisci aspernatur ipsam quaerat modi consectetur asperiores omnis, saepe
        excepturi
        tenetur magni illum.
        Ducimus, consequatur, ex quia eligendi rerum in dolorem, corrupti doloremque sit eum suscipit ab. Illum
        alias ea
        laborum perspiciatis labore assumenda distinctio voluptates officia, dolore esse. Nulla provident
        tenetur
        libero!
        Possimus numquam, dolorum sunt illo facere dignissimos vel eligendi corporis nemo laborum nobis illum,
        error
        quibusdam optio sequi consequatur expedita fuga recusandae corrupti doloribus voluptas. Cupiditate ut ad
        odit
        quo?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maiores dolorum dolores suscipit eveniet
        assumenda totam accusamus voluptatem esse! Autem eveniet magni provident ipsam repellendus eius rem
        labore
        inventore sed.
        Recusandae voluptates quod quam dolorem fugiat voluptatum voluptatibus veritatis nesciunt iste sit odio,
        autem
        iusto dicta explicabo. Adipisci aspernatur ipsam quaerat modi consectetur asperiores omnis, saepe
        excepturi
        tenetur magni illum.
        Ducimus, consequatur, ex quia eligendi rerum in dolorem, corrupti doloremque sit eum suscipit ab. Illum
        alias ea
        laborum perspiciatis labore assumenda distinctio voluptates officia, dolore esse. Nulla provident
        tenetur
        libero!
        Possimus numquam, dolorum sunt illo facere dignissimos vel eligendi corporis nemo laborum nobis illum,
        error
        quibusdam optio sequi consequatur expedita fuga recusandae corrupti doloribus voluptas. Cupiditate ut ad
        odit
        quo?
    </p>
</div>

{% if session['login'] %}
<div class="right_menu">
    <ul class="right_menu-list">
        <li class="right_menu-item"><a href="/{{session['login']}}">Ваш аккаунт</a></li>
        <li class="right_menu-item"><a href="404">Ваши статьи (не готово)</a></li>
        <li class="right_menu-item"><a href="404">Ваши беседы (не готово)</a></li>
        <li class="right_menu-item"><a href="404">Настройки (не готово)</a></li>
    </ul>
</div>
{% endif %}


{% endblock %}
